@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  --primary: #6200ee;
  --secondary: #29b6f6;
  margin: 0px;
}
* {
  font-family: "Roboto", sans-serif;
}
button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: none;
  margin: 2px;
  color: var(--primary);
  background: white;
  border: 1px solid var(--primary);
  width: 8em;
  height: 4em;
  font-size: 70%;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in 0.2s all;
  padding: 0 8px 0 8px;
}
div#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background: white;
}
input {
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 4px;
  font-size: 12px;
}
h1 {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  font-size: 160%;
  width: 100%;
  padding: 15px;
  margin-top: 0px;
}
h2 {
  margin-block-start: 0px;
  margin-block-end: 10px;
  font-size: 20px;
  color: var(--primary);
}
button:hover {
  background: var(--primary);
  color: white;
}
div.actions {
  display: flex;
  align-content: stretch;
  margin-bottom: 0px;
  background: var(--primary);
  padding: 15px;
  width: 100%;
}
div.actionsp {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
div.actionsv {
  background: var(--primary);
  padding: 10px;
}
div.movie {
  width: 210px;
  padding: 10px;
  box-shadow: 2px 2px 7px #ccc;
  margin-top: 0px;
  margin-bottom: 20px;
}
div.movie div.movie-img {
  width: 200px;
  height: auto;
  min-height: 200px;
  cursor: pointer;
}
div.movie div.movie-img img {
  width: 100%;
  height: auto;
}
div.movie div.title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
}
fieldset {
  width: 500px;
  margin: 0px auto;
}
div.field {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 120%;
  padding: 10px;
  width: 90%;
}
.field input {
  height: 3em;
  width: 100%;
}
#details {
  font-size: 120%;
}
@media (orientation: portrait){
  #main {
   flex-direction: column;
  }
}

